<div>
  <h1 style="text-align: center;text-decoration: underline;">"Room"</h1>
  
  <p style="text-align: end;">
</p>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchroom" style="color: #000;"> Add Room</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/room" style="color: #000;"> View All Room</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/roomDetails" style="color: #000;"> Room Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/Roomindb" > Room in DB</a>  </td>
    </tr>
</table>

<hr/>
</div>
<!-- <app-tdfroom-page></app-tdfroom-page> -->
<router-outlet></router-outlet>